.refercode{
    margin-bottom: 37px;
}

.refercode-heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #800080;
}

.refercode-codebox{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5em;
    color: #800080;
    left: 766px;
    top: 224px;
    border-image: linear-gradient(270deg, #800080 0%, #FF864C 100%);
    border-image-slice: 1;
    border-radius: 10px;
    border: 2.5px solid;
    padding: 11px 50px 10px 47px;
    margin-top: 17px;
}